
.container {
    padding-top: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Literata';
    font-style: normal;
    background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.image{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 1200px;
    transition: 400ms;
    align-items: left;
   
    
}


.image button {
    background-color:inherit;
    border: none;
    

}
.image:hover{
    transform: scale(1.50);
}
.pass {
    text-align: center;
}
.newpass {
    text-align: center;
}
.pass h1 {
    margin-top: 0px;
}
.pass input{
    
    width: 396px;
    height: 46px;
    border-radius: 15px;
    background-color:  #D5CCD9;
    border: 1px solid#000000;
    font-style: arial;
    font-weight: bold;
    text-align: center;
    margin-left: 45px;
    
}

.pass button{
    width: 56px;
    height: 54px;
    border-radius: 15px;
    background-color:  #D5CCD9;
    border: 1px solid#000000;
    font-style: arial;
    font-weight: bold;
      
}

.pass button:hover {
    background-color: rgb(234, 231, 57);
    background-image:linear-gradient(yellow,orange);
}

.newpass input {
    width: 396px;
    height: 46px;
    border-radius: 15px;
    background-color:  #D5CCD9;
    border: 1px solid#000000;
    font-style: arial;
    font-weight: bold;
    text-align: center;
    
}

.newpass button{
    font-weight: bold;
    margin-top: 25px;
    width: 160px;
    height: 44px;
    background: #D5CCD9;
    border: 1px solid #000000;
    border-radius: 20px;
    display: block;
    margin-left: 600px;
    text-align: center;
    margin-bottom: 0px;
}

.newpass button:hover {
    background-color: rgb(234, 231, 57);
    background-image:linear-gradient(yellow,orange);
}
