.body{
    color: cornsilk;
}

.image{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 1200px;
    transition: 400ms;
    align-items: left;
    
}
.image button {
    background-color:inherit;
    border: none;
    

}
.image:hover{
    transform: scale(1.50);
}
.container {
    padding-top: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Literata';
    font-style: normal;
    background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.container input{
    width: 396px;
    height: 46px;
    border-radius: 15px;
    background-color:  #D5CCD9;
    border: 1px solid#000000;
    font-style: arial;
    font-weight: bold;
    text-align: center;

}


.credit h3{
    font-size: 15px;
    margin-right: 300px;
    text-align: inherit;
}

.credit button{
    font-weight: bold;
    margin-top: 25px;
    width: 100px;
    height: 44px;
    background: #D5CCD9;
    border: 1px solid #000000;
    border-radius: 20px; 
    text-align: center;
}

.credit button:hover{
    background-color: rgb(234, 231, 57);
    background-image:linear-gradient(yellow,orange);
}
.credit h1{
    margin-bottom: 95px;
}

.TEXT   {
    margin-top: 50px;
    display: flex;
    gap: 32px;
    justify-content: center;
    
    

}

.TEXT button {
    color: rgb(255, 255, 255);
    border: none;
    background-color: transparent;    
}

.TEXT button:hover {
    color: yellow;
    
}




.container hr {
    color: aliceblue;
    border: 1px solid;
    width: 350px;
   

}

.google button {
    display: inline-block;;
   background-color: transparent;
   border:none;
   margin: 15px;
   

}

.google button:hover {
    transform: scale(1.5);
}

