.container{
    display: flex;
    background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:120vh;
    align-items: center;
    justify-content: center;
    font-family: Laterata;

}
.container input{
    width: 510px;
    height: 250px;
    box-sizing: border-box;
    border-radius:10px;
    margin-top: 10px;  
    position: absolute;
    left: 580px;
    top: 3050px;

    
    

}
.container h5{
    color: white;
    width: 400px;
    height: 420px;
    font-size: 23px;
    display: inline-block;
    margin-right: 500px;
    margin-top: 235px;
 
}
.container button{
    position: absolute;
    right: 210px;
    width: 100px;
    height: 55px;
    background-color: #FFC2A0;
    border-radius: 500px;
    font-weight: bold;
    border: none;
    top: 3330px;

    
}

.container button:hover{
    background-color: #e06c2e;
}
  
