.container{
    display: flex;
    background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:300px;
    align-items: center;
    justify-content: center;
    font-family: Laterata;
}
.container input{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    border-radius:10px;

}
.container h5{
    color: white;
    width: 200px;
}
.container button{
    margin-top: 10px;
    margin-left:120px ;
}
  
    
