.container { 
  display: flex;
  align-items: center;
  gap: 50px;
  height: 843px;
  font-family: Literata;
  background-image: linear-gradient( black, #454545);
}
.container p {
  margin:150px;
  max-height: 647px ; 
  max-width: 571px;
  text-align: center;
  font-size: 40px;
  color: white;
}
.image{
  margin: 150px;
  
}
