.container  {
  padding: 5px;
  height: 843px;
  gap: 10px;
  font-family: Literata;
  background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  height: 110vh;
}
.content{
  margin: 150px;
  margin-top: 30px;
}
.content h1 {
  font-size: 65px;
  margin-left: 10px ;
  color: #E95050 ;
}
.content h5{
  font-size: 32px;
  width: 437px;
  margin-left: 10px ;
  color: white;
}
.content p {
  font-size: 48px;
  color: white;
  margin-left: 0px;
}
.image h1{
  display: flex;
  margin-left: 112px;
  text-align: center; 
  color: #B69999;
}
.footer{
  position: absolute;
  margin-top: 540px;
  margin-left: 165px;
  font-size: 25px;
  color: white;
  white-space: nowrap;
}

.footer h5 {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  margin-right: 45px;
  word-spacing: 5px;
  color: #E95050;
 
}
.image {
  margin-top: 5%;
  display: inline-block;
  justify-content: center;
  align-items:center;
  flex-wrap: nowrap;
}
.image img{
  
  width: 120x;
    height: 150px;
    border: 2px solid black;
    border-radius: 13px;
    box-shadow: 4px 4px 4px 4px black;
    margin-top: 35px;
    margin-right: 10px;
    transition: 400ms;

}

.image img:hover {
  transform: scale(1.10);
    filter: contrast(1.5);

}
