.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #F4D0C0;
  background-image: linear-gradient( #dfcdc5,#ca9e8b);
}
.navbarActions {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbarActions button{
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 100px;
  font-size: 25px;
  color: white;
  background-color: #E95050;
  
}
.navbarActions span{

  background-color: rgb(78, 76, 76);
  border:none;
  color:white;
  padding:3px 3px 5px 3px;
  font-size: 25px;
  border-radius: 100px;
  
}

.navbarActions button:hover{
  background-color: #f40000;
}

.image:hover{
  transform: scale(1.05);
}

.image button {
  background-color:inherit;
  border: none;
  

}

.login img {
  position: absolute;
  width: 65px;
  top: 1px;
  left:890px;
  
}

.login img:hover {
  transform: scale(1.50);
}
