.container {
    margin: 80px;
    display: flex;
    align-items: center;
}
.container h1 {
    margin-left: 30%;
    font-size: 100px;
}
.container h6 {
    font-size: 15px;
    margin-bottom: -2px;
}
.container h6,.container input, .container button {
    margin-left: 30%;
}
.container input {
    width: 50%;
    height: 25px;
    border: .8 solid black;
    border-radius: 10px;
}
.container button {
    width: 25%;
    height: 25px;
    margin-top: 60px;
    margin-left: 43%;
    border: .8 solid black;
    border-radius: 10px;
    font-size: 15px;
    color: black;
}
.LEFT {
    width: 100%;
}
.RIGHT {
    width: 100%;
    margin-left: 20px;
}
